<div class="text-layout"> <!--clase css definida en el app.component.css, no es de flexbox-->
  <h1>Pipes no tan comunes</h1>
  <p>
    Pipes incluidos en Angular - Usualmente en el Common Module
  </p>
</div>

<div class="p-grid">
  <div class="p-col p-md-6 p-sm-9"> <!--p-md-6: 6 columnas para pantallas medianas, p-sm-9: 9 columnas para pantallas pequeñas-->
    <p-fieldset legend="i18nSelect Pipe" [toggleable]="true"> <!--escoge entre una serie de opciones de acuerdo al argumento que se envia-->
      <p>Saludos {{nombre}}, es un placer
      {{genero | i18nSelect:invitacionMap}}
       un evento.</p>
       <button pButton label="Cambiar nombre"
               (click)="cambiarNombre()"
               class="p-button-help">
       </button>
    </p-fieldset>
  </div> <!--cuando la pantalla es grande se tienen dos columnas, cuando se reduce la pantalla se usan casi todas las columnas-->
  <div class="p-col p-md-6 p-sm-9">
    <p-fieldset legend="i18nPlural Pipe" [toggleable]="true">
      <p>Actualmente {{clientes.length | i18nPlural:clientesMap}}</p>
      <p-button label="Borrar cliente"
                (onClick)="borrarCliente()"
                class="p-button-danger">
      </p-button> <!--el evento es onClick porque el boton es de la implementación de primeNg -->
    </p-fieldset>
  </div>
</div>
